<mat-list role="list">
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center pe-3">
        <mat-checkbox [(ngModel)]="checked" />
        <mat-list-item role="listitem">Item 1
        </mat-list-item>
        <mat-icon aria-label="edit" (click)="editContact()">edit</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>